<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="secondary-tab expense-tab">
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                Expense
            </div>
            
        </ng-template>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <div class="secondary-tab income-tab">
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                Income
            </div>
        </ng-template>

        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>