<app-header></app-header>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Spending
        </ng-template>
      <app-spending></app-spending>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Transactions
        </ng-template>
        <app-transaction></app-transaction>
      
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Categories
        </ng-template>

        <app-category></app-category>

       
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Accounts
        </ng-template>
<app-account></app-account>
       
    </mat-tab>
</mat-tab-group>
<app-footer></app-footer>